<div class="row">
    <!-- Left col -->
    <section class="col-lg-6 connectedSortable">
      <!-- Custom tabs (Charts with tabs)-->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-chart-pie mr-1"></i>
            Sales
          </h3>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="tab-content p-0">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active">
                 <canvas #barCanvas height="200" style="height: 200px;"></canvas>
             </div>
          </div>
        </div><!-- /.card-body -->
      </div>

    </section>

    <section class="col-lg-6 connectedSortable">
      <!-- Custom tabs (Charts with tabs)-->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-chart-pie mr-1"></i>
            Sales
          </h3>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="tab-content p-0">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active">
              <canvas #pieCanvas width="347" height="200" class="smaller-chart"></canvas>
             </div>
          </div>
        </div><!-- /.card-body -->
      </div>

    </section>
  </div>