<div class="container py-3" *ngIf="stylistData">
  <!-- Form Card -->
  <div class="bg-white p-4 p-md-5 shadow rounded-4 mt-5">
    <h1 class="text-center mb-4 fw-bold display-6 text-uppercase text-primary">
      Edit Stylish
    </h1>

    <form [formGroup]="stylistForm" (ngSubmit)="onSubmit()">
      <div class="row g-4">
        <!-- Stylist Name -->
        <div class="col-md-6">
          <label for="name" class="form-label fw-semibold">Stylist Name</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter Name" required>
        </div>

        <!-- Email -->
        <div class="col-md-6">
          <label for="email" class="form-label fw-semibold">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Email" required>
        </div>

        <!-- Phone -->
        <div class="col-md-6">
          <label for="phoneNo" class="form-label fw-semibold">Phone No</label>
          <input type="tel" class="form-control" id="phoneNo" formControlName="phoneNo" placeholder="Enter Mobile Number" required>
        </div>

        <!-- Location -->
        <div class="col-md-6">
          <label for="location" class="form-label fw-semibold">Location</label>
          <input type="text" class="form-control" id="location" formControlName="location" placeholder="Enter Location" required>
        </div>

        <!-- Reference -->
        <div class="col-md-6">
          <label for="reference" class="form-label fw-semibold">Reference</label>
          <input type="text" class="form-control" id="reference" formControlName="reference" placeholder="Referred By">
        </div>

        <!-- Expert In -->
        <div class="col-md-6">
          <label for="expert_in" class="form-label fw-semibold">Expert In</label>
          <input type="text" class="form-control" id="expert_in" formControlName="expert_in" placeholder="e.g. Haircut, Makeup">
        </div>
      </div>
    
      


      <!-- Buttons -->
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mt-4 gap-3">
        <button type="submit" class="btn btn-primary px-4 py-2 fw-bold rounded-pill w-100 w-md-auto" [disabled]="!stylistForm.valid">
          <i class="bi bi-pencil-square me-2"></i> Update Stylish
        </button>

      </div>
    </form>
  </div>
</div>
